body{
  background: url(background.svg);
  background-size: 100vw 100vh;
  background-position: fixed;
  background-repeat: no-repeat;
  color: ivory;
}
a{
  text-decoration: none;
  color: ivory;
}
address{
  text-align: right;
}

#email{
  font-size: 1.5em;
  position: fixed;
  left: 80vw;
  top: 96vh;
}